@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Tarmontie 1<br />
    Lahti<br />
    <abbr title="Phone">P:</abbr>
    03 478 5478
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@northwind.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@nothwind.com">Marketing@example.com</a>
</address>